.ac_container .my_bids_right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding: 2%;
    width: 80%;
}
    .ac_container .my_bids_right .tab_header {
        text-align: left;
        margin-bottom: 5%;
        padding-left: 5%;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline 3px black;
    }

    .ac_container .my_bids_right thead tr {
        border-bottom: solid #0751e9 3px;
    }

    .ac_container .my_bids_right tr {
        border-bottom: solid #266af5 2px;
        font-size: 16px;
    }

    .ac_container .my_bids_right .td_title {
        width: 25%;
    }

    .ac_container .my_bids_right .td_name {
        width: 25%;
    }

    .ac_container .my_bids_right .td_date {
        width: 25%;
    }

    .ac_container .my_bids_right .td_amount {
        width: 15%;
    }

    .ac_container .my_bids_right .td_edit, .ac_container .my_auction_right .td_delete {
        width: 5%;
    }

    .ac_container .my_bids_right i {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
