.LoginPage .sign-in-container {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginPage .sign-in {
    position: sticky;
    width: 750px;
    height: 590px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
}

.LoginPage .loginSubmit {
    color: white;
    font-size: 19px;
    font-weight: 200;
    text-align: center;
    height: 44px;
    width: 400px;
    margin-bottom: 30px;
    border-radius: 12px;
    cursor: pointer;
}

.LoginPage a {
    font-size: 18px;
    font-weight: 400;
    margin-top: -10px;
    padding: 0;
}
.LoginPage h1 {
    color: whitesmoke;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -10px;
}